name: Release
on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Release
        uses: codfish/semantic-release-action@v4.0.1
        with:
          plugins: |
            [ '@semantic-release/github' ]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
